.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  width: 1170px;
  margin: 0 auto;

  .pkg {
    width: 100%;

    .desc {
      color: #666;
      font-size: 16px;
      font-weight: 500;
      min-height: 75px;
      line-height: 1.5em;
    }

    .price {
      text-align: right;
      width: 100%;
      font-size: 28px;
      font-weight: 600;
    }
  }
}

.box {
  border: 10px solid #eee;
  padding: 16px;
  margin-bottom: 15px;
  min-height: 215px;

  .title {
    font-size: 33px;
    margin-bottom: 10px;
  }
}

.content {
  .list {
    font-size: 15px;
    font-weight: 500;
    padding: 13px 0;
    border-bottom: 2px solid #ddd;

    &:last-child {
      border-bottom: 0 !important;
    }
  }
}

.subList {
  border-bottom: none !important;
}

.paragraph {
  line-height: 1.5em;
  margin-bottom: 10px;
}

.selectLink {
  text-decoration: none;
  padding: 15px 10px;
  display: block;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}
